.banner {
  background-image: url("../../images/background.png");
  color: white;
  padding: 200px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner p {
  font-weight: bold;
  font-size: 18px;
  color: rgb(180, 180, 180);
}

.button {
  background-color: #1EDD88;
  padding: 15px 25px;
  border-radius: 50px;
  line-height: 60px;
  color: white;
}
